# Porta di ascolto del server HTTP
PORT=3000

# Ambiente di esecuzione (development | production | test)
NODE_ENV=development

# Origine client consentita per le policy CORS
CLIENT_ORIGIN=http://localhost:5500

# Prefisso globale degli endpoint API REST
API_PREFIX=/api

# Parametri di connessione al Database PostgreSQL (Hermae DB)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hermae_db
DB_USER=tuo_utente_postgres
DB_PASSWORD=tua_password
DB_POOL_MAX=10

# Sicurezza ed Autenticazione JWT (Access Token & Refresh Token)
JWT_SECRET=inserisci_qui_la_tua_chiave_segreta_jwt_access
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=inserisci_qui_la_tua_chiave_segreta_jwt_refresh
JWT_REFRESH_EXPIRES_IN=7d
